$heading: hsl(213, 96%, 18%);
$bg-btn: hsl(243, 100%, 62%);
$bg-number: hsl(228, 100%, 84%);
$bg-body: hsl(206, 94%, 87%);
$warning: hsl(354, 84%, 57%);
$para: hsl(231, 11%, 63%);
$lightgray: hsl(229, 24%, 87%);
$txt-btn: hsl(217, 100%, 97%);
$light: hsl(231, 100%, 99%);
$white: hsl (0, 0%, 100%);